<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
	<title>Home Page</title>
</h:head> 
<h:body> 
	<div align = "center">
		<h2>Please login</h2>
		<p></p>
		<h:link outcome = "staff/index" value = "STAFF AREA" class="btn btn-default btn-lg"/>
		<p></p>
		<h:link outcome = "admin/index" value = "ADMIN AREA" class="btn btn-default btn-lg"/>
	</div>
	<div align = "center">
		<h:graphicImage name="images/office.jpg" styleClass="backgroundImage" alt = "office"/>
	</div>
</h:body> 
</html>
