@
keyframes dtb-spinner { 100% {
	transform: rotate(360deg);
}

}
@
-o-keyframes dtb-spinner { 100% {
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
@
-ms-keyframes dtb-spinner { 100% {
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
@
-webkit-keyframes dtb-spinner { 100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
@
-moz-keyframes dtb-spinner { 100% {
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}

}
div.dt-button-info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-top: -100px;
	margin-left: -200px;
	background-color: white;
	border: 2px solid #111;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	text-align: center;
	z-index: 21;
}

div.dt-button-info h2 {
	padding: 0.5em;
	margin: 0;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	background-color: #f3f3f3;
}

div.dt-button-info>div {
	padding: 1em;
}

div.dt-button-collection-title {
	text-align: center;
	padding: 0.3em 0 0.5em;
	font-size: 0.9em;
}

div.dt-button-collection-title:empty {
	display: none;
}

div.dt-buttons {
	position: relative;
	float: left;
}

div.dt-buttons .dt-button {
	margin-right: 0;
}

div.dt-buttons .dt-button span.ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
}

div.dt-buttons .dt-button:active {
	outline: none;
}

div.dt-buttons .dt-button:hover>span {
	background-color: rgba(0, 0, 0, 0.05);
}

div.dt-button-collection {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	margin-top: 3px;
	padding: 8px 8px 4px 8px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: #f3f3f3;
	background-color: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	z-index: 2002;
	border-radius: 5px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	z-index: 2002;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-ms-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
}

div.dt-button-collection .dt-button {
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	box-sizing: border-box;
	display: block;
	float: none;
	margin-right: 0;
	margin-bottom: 4px;
}

div.dt-button-collection .dt-button:hover>span {
	background-color: rgba(0, 0, 0, 0.05);
}

div.dt-button-collection.fixed {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	border-radius: 0;
}

div.dt-button-collection.fixed.two-column {
	margin-left: -200px;
}

div.dt-button-collection.fixed.three-column {
	margin-left: -225px;
}

div.dt-button-collection.fixed.four-column {
	margin-left: -300px;
}

div.dt-button-collection>:last-child {
	display: block !important;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	-ms-column-gap: 8px;
	-o-column-gap: 8px;
	column-gap: 8px;
}

div.dt-button-collection>:last-child>* {
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

div.dt-button-collection.two-column {
	width: 400px;
}

div.dt-button-collection.two-column>:last-child {
	padding-bottom: 1px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
}

div.dt-button-collection.three-column {
	width: 450px;
}

div.dt-button-collection.three-column>:last-child {
	padding-bottom: 1px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
}

div.dt-button-collection.four-column {
	width: 600px;
}

div.dt-button-collection.four-column>:last-child {
	padding-bottom: 1px;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-ms-column-count: 4;
	-o-column-count: 4;
	column-count: 4;
}

div.dt-button-collection .dt-button {
	border-radius: 0;
}

div.dt-button-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	/* Fallback */
	background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3)
		0%, rgba(0, 0, 0, 0.7) 100%);
	/* IE10 Consumer Preview */
	background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3)
		0%, rgba(0, 0, 0, 0.7) 100%);
	/* Firefox */
	background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0, 0.3)
		0%, rgba(0, 0, 0, 0.7) 100%);
	/* Opera */
	background: -webkit-gradient(radial, center center, 0, center center, 497,
		color-stop(0, rgba(0, 0, 0, 0.3)), color-stop(1, rgba(0, 0, 0, 0.7)));
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0, 0, 0,
		0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
	/* Webkit (Chrome 11+) */
	background: radial-gradient(ellipse farthest-corner at center, rgba(0, 0, 0, 0.3)
		0%, rgba(0, 0, 0, 0.7) 100%);
	/* W3C Markup, IE10 Release Preview */
	z-index: 2001;
}

@media screen and (max-width: 640px) {
	div.dt-buttons {
		float: none !important;
		text-align: center;
	}
}

button.dt-button.processing, div.dt-button.processing, a.dt-button.processing
	{
	color: rgba(0, 0, 0, 0.2);
}

button.dt-button.processing:after, div.dt-button.processing:after, a.dt-button.processing:after
	{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	box-sizing: border-box;
	display: block;
	content: ' ';
	border: 2px solid #282828;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: dtb-spinner 1500ms infinite linear;
	-o-animation: dtb-spinner 1500ms infinite linear;
	-ms-animation: dtb-spinner 1500ms infinite linear;
	-webkit-animation: dtb-spinner 1500ms infinite linear;
	-moz-animation: dtb-spinner 1500ms infinite linear;
}