.error {
	color: red;
	font-weight: bold;
}
.label-warning {
	color: white;
}

.backgroundImage {
    
    opacity: 0.1;
    width: auto;
    height: auto;
    background-position: center;
}


h1 {
	font-weight: bold;
	color: #000000;
	font-family: "Lucida Console", Courier, monospace;
}

h2 {
	font-weight: bold;
	color: #000000;
	font-family: "Lucida Console", Courier, monospace;
}


html {
  background-color: white;
}

.navbar .navbar-brand{
	color: white;
}

.collapse li a{
	color: white;
}

.btn-default {
	font-weight: bold;
	font-family: "Lucida Console", Courier, monospace;
}



