<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
        <div>
	        <f:view>
	            <h:form>
	                <h1><h:outputText value="Create"/></h1>
	                <table class="table table-bordered ">
	                
	                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
	                        <td width ="200">
	                            <h:outputLabel value="streetNumber" for="streetNumber" />
	                        </td>
	                        <td>
	                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" required="true" requiredMessage="Please enter the street number!" validatorMessage="Please enter a street number between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="900">
		                            <f:convertNumber integerOnly="true"/>
									<f:validateLongRange minimum="1" maximum="1000" /> 
								</h:inputText>
	                            <br/>
	                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    </tr>
	
	                    <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="streetAddress" for="streetAddress" />
	                        </td>
	                        <td>
	                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" required="true" requiredMessage="Please enter the street address!" pt:placeholder="Dandenong Rd"/>
	                            <br/>
	                            <h:message for="streetAddress" class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="suburb" for="suburb" />
	                        </td>
	                        <td>
	                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Caulfield East"/>
	                        	<br/>
	                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="state" for="state"/>
	                        </td>
	                        <td>
	                            <h:inputText id="state" value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
	                            <br/>
	                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    <tr class="#{!country.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="country" for="country"/>
	                        </td>
	                        <td>
	                            <h:inputText id="country" value="#{customer.country}" title="country" size="3" required="true" requiredMessage="Please enter the country" pt:placeholder="Australia"/>
	                            <br/>
	                            <h:message for="country" class="#{!country.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    
	                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="postcode" for="postcode" />
	                        </td>
	                        <td>
	                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3145">
		                            <f:convertNumber integerOnly="true"/>
									<f:validateLongRange minimum="200" maximum="4700" /> 
								</h:inputText>
								<br/>
								<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	
	                    <tr class="#{!customerName.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="customerName" for="customerName"/>
	                        </td>
	                        <td>
	                            <h:inputText id="customerName" value="#{customer.customerName}" title="Customer Name" required="true" requiredMessage="Please enter the name of customer!"  pt:placeholder="Apple">
	                            </h:inputText>
	                           	<br/>
	                           	<h:message for="customerName" class="#{!customerName.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    <tr class="#{!customerPhoneNumber.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="customerPhoneNumber" for="customerPhoneNumber" />
	                        </td>
	                        <td>
	                            <h:inputText id="customerPhoneNumber" value="#{customer.customerPhoneNumber}" title="Phone Number" required="true" requiredMessage="Please enter the Phone Number!" validatorMessage="Please enter a 10 digits phone number" pt:placeholder="0123456789">
		                            <!-- Validate the phone number to be 10 characters -->
									<f:validateLength minimum="10" maximum="10" /> 
								</h:inputText>
								<br/>
								<h:message for="customerPhoneNumber" class="#{!customerPhoneNumber.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	
	                    <tr class="#{!email.valid ? 'has-error' : 'none'}">
	                        <td>
	                            <h:outputLabel value="Email" for="Email" />
	                        </td>
	                        <td>
	                            <h:inputText id="Email" value="#{customer.email}" title="Email" required="true" requiredMessage="Please enter an Email!" pt:placeholder="john@monash.edu">
		                        </h:inputText>
								<br/>
								<h:message for="Email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
	                        </td>
	                    
	                    </tr>
	                    
	                    
	                    <!-- Select and Add Industry -->
	                     <tr>
							<td>
	                            <h:outputLabel value="Industry" for="industry" />
	                        </td>
	                        <td>
			                    <h:selectOneMenu value="#{customer.industry}" converter="industry"> 
	   								<f:selectItems value="#{customerManagedBean.allIndustries}" var="i" itemLabel="#{i.industryName}" itemValue="#{i}"/>
								</h:selectOneMenu>
							</td>          
	                    </tr>
	                    
	
	                    <!-- Select and Add contactPerson -->
	                    
	  					<tr>
							<td>
	                            <h:outputLabel value="contactPerson" for="contactPerson" />
	                        </td>
	                        <td>
			                    <h:selectOneMenu value="#{customer.contactPerson}" converter="contactPerson"> 
	   								<f:selectItems value="#{customerApplication.contactPeople}" var="c" itemLabel="#{c.contactPersonName}" itemValue="#{c}"/>
								</h:selectOneMenu>  
							</td>          
	                    </tr>
	                    <!-- customerApplication.customers.get(status.index).customerName -->
	                    
	                    
	                    <!-- Testing Method -->
	                    
	                    
	                </table>
	                
	                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-default" >
	                </h:commandButton>
	                <h:link id="close" value="Close" outcome="/faces/staff/index.xhtml"
							class="btn btn-default" />
	            </h:form>	
	        </f:view>
        </div>
       </div>
    </h:body>
</html>

