<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
	<h:head>
		<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
		<title>#{titleController.pageTitle}</title> 
	</h:head>
	<h:body>
		<div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Contact Person
                </div>
            </div>
		    <div>
	        	<f:view>
	            	<h:form>
		                <h1><h:outputText value="Create"/></h1>
		                <table class="table table-bordered ">
		
		                    <tr class="#{!contactPersonName.valid ? 'has-error' : 'none'}">
		                        <td>
		                            <h:outputLabel value="contactPersonName" for="contactPersonName"/>
		                        </td>
		                        <td>
		                            <h:inputText id="contactPersonName" value="#{contactPerson.contactPersonName}" title="Staff Name" required="true" requiredMessage="Please enter the name of staff!"  pt:placeholder="Andy Liu">
		                            </h:inputText>
		                           	<br/>
		                           	<h:message for="contactPersonName" class="#{!contactPersonName.valid ? 'label label-warning' : 'none'}" />
		                        </td>
		                    
		                    </tr>
		                    
		                    <tr class="#{!phoneNumber.valid ? 'has-error' : 'none'}">
		                        <td>
		                            <h:outputLabel value="phoneNumber" for="phoneNumber" />
		                        </td>
		                        <td>
		                            <h:inputText id="phoneNumber" value="#{contactPerson.phoneNumber}" title="Phone Number" required="true" requiredMessage="Please enter the Phone Number!" validatorMessage="Please enter a 10 digits phone number" pt:placeholder="0123456789">
			                            <!-- Validate the phone number to be 10 characters -->
										<f:validateLength minimum="10" maximum="10" /> 
									</h:inputText>
									<br/>
									<h:message for="phoneNumber" class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" />
		                        </td>
		                    
		                    </tr>
		
		                    <tr class="#{!email.valid ? 'has-error' : 'none'}">
		                        <td>
		                            <h:outputLabel value="Email" for="Email" />
		                        </td>
		                        <td>
		                            <h:inputText id="Email" value="#{contactPerson.contactPersonEmail}" title="Email" required="true" requiredMessage="Please enter an Email!" pt:placeholder="staff1@ausprinting.com">
			                        </h:inputText>
									<br/>
									<h:message for="Email" class="#{!email.valid ? 'label label-warning' : 'none'}" />
		                        </td>
		                    
		                    </tr>
	                	</table>
	                	<div>
	                		<h:commandButton id="submit" value="Submit" action="#{addContactPerson.addContactPerson(contactPerson)}" class="btn btn-default" >
                			</h:commandButton>
                			<h:link id="close" value="Close" outcome="/faces/staff/indexContactPerson.xhtml" class="btn btn-default" />
	                	</div>
		                
	            	</h:form>
	        	</f:view>
			</div>
		</div>
	</h:body>
</html>
