<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css" />
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Detail
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Customer Name: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "customerName" >#{customerController.customer.customerName}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "customerPhoneNumber" >#{customerController.customer.customerPhoneNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "email" >#{customerController.customer.email}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "industry" >#{customerController.customer.industry.industryName}</h:outputLabel>    
                        </td>
                    </tr>
                   	<tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Person: </td>
                        
                        <td valign="bottom">
	                        <h:outputLabel id = "contactPersonID" >#{customerController.customer.contactPerson.contactPersonId}:&nbsp;</h:outputLabel>
	                        <h:outputLabel id = "contactPersonName" >#{customerController.customer.contactPerson.contactPersonName}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="/faces/staff/index.xhtml"
						class="btn btn-default" />
                
            </h:form>
        </div>
    </h:body>
</html>


