<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css" />
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer
                </div>
            </div>
			
            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                         Edit Customer Details
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>    
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="100" valign="top">Street address: </td>
                        <td valign="bottom">
                            <h:inputText id = "streetAddress" value="#{customerController.customer.address.streetAddress}" binding="#{streetAddress}" required="true"
                                         validatorMessage="Please enter a valid street address."
                                         requiredMessage="Please enter an street address. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Suburb: </td>
                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerController.customer.address.suburb}" binding="#{suburb}" required="true"
                                         validatorMessage="Please enter a valid suburb."
                                         requiredMessage="Please enter a suburb. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">State: </td>
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.address.state}" binding="#{state}" required="true"
                                         validatorMessage="Please enter a valid state."
                                         requiredMessage="Please enter a state. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Country: </td>
                        <td valign="bottom">
                            <h:inputText id = "country" value="#{customerController.customer.address.country}" binding="#{country}" required="true"
                                         validatorMessage="Please enter a valid country."
                                         requiredMessage="Please enter a country. "></h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Postcode: </td>
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.address.postcode}" binding="#{postcode}" required="true"
                                         validatorMessage="Please enter a valid integer postcode."
                                         requiredMessage="Please enter a postcode.">
                                         <f:validateLongRange minimum="100" maximum="9999" />
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="100" valign="top">Customer Name: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "customerName" value="#{customerController.customer.customerName}"  required="true"
                                         requiredMessage="Please enter a customer's name.">
                            </h:inputText>    
                    	</td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Phone number: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "customerPhoneNumber" value="#{customerController.customer.customerPhoneNumber}"  required="true" validatorMessage="Phone number must be integer" requiredMessage="Please enter phone number. ">
                            	<f:convertNumber integerOnly="true"/>
                            	<f:validateLongRange minimum="0000000000" maximum="9999999999" />
                            </h:inputText>    
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{customerController.customer.email}"  required="true"
                                         requiredMessage="Please enter an email. ">
                            </h:inputText>     
                        </td>
                        
                    </tr>
                    
                    <!-- Select and Add Industry -->
                    <tr>
						<td>
                            <h:outputLabel value="Industry" for="industry" />
                        </td>
                        <td>
		                    <h:selectOneMenu value="#{customerController.customer.industry}" converter="industry"> 
   								<f:selectItems value="#{customerManagedBean.allIndustries}" var="i" itemLabel="#{i.industryName}" itemValue="#{i}"/>
							</h:selectOneMenu>
						</td>          
                    </tr>
                    
                    <!-- Select and Add contactPerson-->
                    <tr>
						<td>
                            <h:outputLabel value="contactPerson" for="contactPerson" />
                        </td>
                        <td>
		                    <h:selectOneMenu value="#{customerController.customer.contactPerson}" converter="contactPerson"> 
   								<f:selectItems value="#{customerApplication.contactPeople}" var="c" itemLabel="#{c.contactPersonName}" itemValue="#{c}"/>
							</h:selectOneMenu>  
						</td>          
                    </tr>
                    
                </table>
                
                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-default" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/staff/index.xhtml"
						class="btn btn-default" />
            </h:form>
        </div>
    </h:body>
</html>
