<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
    <h:outputStylesheet library="css" name="style.css" />
    <title>#{titleController.pageTitle}</title> 
</h:head>
<body> 
	<div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Contact Person
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactPersonController.contactPerson.contactPersonId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Person Name: </td>
                         Edit Customer Details
                        <td valign="bottom">
                            <h:inputText id = "contactPersonName" value="#{contactPersonController.contactPerson.contactPersonName}" binding="#{contactPersonName}" required="true"
                                         requiredMessage="Please enter contact person's name. "></h:inputText>    
                        </td>
                    </tr>
                    
                    
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>
                        <td valign="bottom">
							<h:inputText id = "phoneNumber" value="#{contactPersonController.contactPerson.phoneNumber}"  required="true" validatorMessage="Phone number must be integer" requiredMessage="Please enter phone number. ">
                            	<f:convertNumber integerOnly="true"/>
                            	<f:validateLongRange minimum="0000000000" maximum="9999999999" />
                            </h:inputText> 
                        </td>
                    </tr>
 
 
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{contactPersonController.contactPerson.contactPersonEmail}"  required="true"
                                         requiredMessage="Please enter an email. ">
                            </h:inputText>     
                        </td>
                    </tr>
                    
                    
                </table>
                
                <h:commandButton id="save" value="Save" action="#{contactPersonManagedBean.editContactPerson(contactPersonController.contactPerson)}"  class="btn btn-default" >
                    <f:param name="contactPersonID" value="#{contactPersonController.contactPersonId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="/faces/staff/indexContactPerson.xhtml"
						class="btn btn-default" />
            </h:form>
        </div>
</body> 
</html>
