<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"  
      xmlns:f="http://java.sun.com/jsf/core"    
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="style.css" />
        <h:outputStylesheet library="DataTables" name="datatables.css"/>
        <h:outputScript library="DataTables" name="datatables.js"/>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#myTable').DataTable();
            } );
        </script>
        
        <title>#{titleController.pageTitle}</title>
        <!-- adding navigation bar --> 
		<h:form>
		    <div class="navbar fixed-top navbar-dark bg-dark" style="background-color: #000000;">
		    	<a class="navbar-brand" href="index.xhtml">AusPrinting CM</a>
	            <div class="collapse navbar-collapse" id="navbarNav">
	                <ul class="nav navbar-nav">
	                    <li>
	                    	<a href="index.xhtml">Home</a>
	                    </li>
	                    <li>
	                    	<a href="indexContactPerson.xhtml">Contact Person</a>
	                    </li>
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
	                	<li>
	                		<a href="#">Hello #{request.remoteUser}</a>
	                	</li>
	                	<!-- Log out -->
	                    <li>
	                        <h:commandLink value="Logout" action="#{userManager.logout()}"></h:commandLink>    
	                    </li>
	                </ul>
	            </div>
		        <!--/.nav-collapse -->
			</div>
		</h:form>
		<!-- adding navigation bar -->
	


    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-dark bg-dark" style="background-color: #000000;">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>

            <h:form id="myForm">
                <table id="myTable" class="table table-bordered table-striped table-hover">
	                <thead>
	                    <!-- For each contact person in contactPeople ArrayList... --> 
	                    <tr>
	                            <td> 
	                                <h:outputLabel id="Id" value="Id"  />
	                            </td>
	                            
	                            <td> 
	                                <h:outputLabel id="Name" value="Name"  />
	                            </td>
	
	                            <td> 
	                                <h:outputLabel id="PhoneNumber" value="PhoneNumber"/>
	                            </td>
	                                                        
	                            <td> 
	                                <h:outputLabel id="Email" value="Email"/>
	                            </td>
	                            <td>
	                            	<h:outputLabel for="action">Modify</h:outputLabel>
	                            </td>
	      
                    	</tr>
	            	</thead>
	                <tbody>
	                    <ui:repeat id="Myrepeat" value="#{customerApplication.contactPeople}"  var="contactPerson" varStatus="status"> 
	                        <!-- What does the outName do here -->
	                        <tr onclick="document.getElementById('myForm:principle').value = document.getElementById('myForm:Myrepeat:#{status.index}:contactPersonID').textContent"> 
	                            <td>
	                                <h:outputText value="#{customerApplication.contactPeople.get(status.index).contactPersonId}" id="contactPersonID" />
	                            </td>
	                            
	                            <td> 
	                                <h:outputText id="outName" value="#{customerApplication.contactPeople.get(status.index).contactPersonName}"  />
	                            </td>
	                   
	                            <td>
	                                <h:outputText id="outPhoneNumber" value="#{customerApplication.contactPeople.get(status.index).phoneNumber}"></h:outputText>
	                            </td>
	                            
	                            <td>
	                                <h:outputText id="outEmail" value="#{customerApplication.contactPeople.get(status.index).contactPersonEmail}"></h:outputText>
	                            </td>
	                            <td>
	                            
		                            <h:link value="Edit | " outcome="/faces/staff/editContactPerson.xhtml">
	                                <!-- pass the parameter to next page, the param name is contactPersonID, and the value is index + 1.
	                                  You can get the value from next page using the indexController -->
	                                  <f:param name="contactPersonID" value="#{status.index + 1}"/>
	                                </h:link>
	                                <h:commandLink value="Delete" action="#{removeContactPerson.removeContactPerson(customerApplication.contactPeople.get(status.index).contactPersonId)}" 
	                                disabled="#{customerApplication.contactPeople.get(status.index).contactPersonId == null}">
	                                </h:commandLink>
                            	</td>
	                        </tr> 
	                    </ui:repeat> 
					</tbody> 
                </table>
                
                <div class="row">
				  <div class="col-sm-4">
				  		<h:commandButton id="add" value="Add" action="addContactPerson.xhtml" class="btn btn-default" />
				  </div>
				  <div class="col-sm-4">
					  	<h:commandButton id="viewAll" value="View All" action="#{searchContactPerson.searchAllContactPeople()}" class="btn btn-default" >
					        <f:param name="contactPersonID" value="#{status.index + 1}"/>
					        <f:ajax execute="@form" render="myForm" event="click"/>
					    </h:commandButton>
				  </div>
				  <div class="col-sm-4">
				  	 	<h:inputText value="#{searchContactPerson.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('myForm:searchById').value.trim() == '') {document.getElementById('myForm:searchById').value = 0;} "   /> 
                    	<h:commandButton id="searchId" value="Search by Id" action="#{searchContactPerson.searchContactPersonById(searchContactPerson.searchByInt)}" class="btn btn-default" >
                        	<f:param name="contactPersonID" value="#{status.index + 1}"/>
                        	<f:ajax execute="@form ajaxMessage2" render="myForm" event="click"/>
                    	</h:commandButton>
				  </div>
				</div>
				<br/>
				<div class="row">
				  <div class="col-sm-6">
				  		<h:outputText value="#{contactPersonManagedBean.searchContactPersonById(searchContactPerson.searchByInt)}" id="ajaxMessage2"/>
				  </div>
				  <div class="col-sm-6">
				  </div>
				  
				</div>
            </h:form>
        </div>
    </h:body>
</html>