<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"  
      xmlns:f="http://java.sun.com/jsf/core"    
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet name="css/style.css" />
        <title>#{titleController.pageTitle}</title>
        <!-- adding navigation bar --> 
		<h:form>
		    <div class="navbar navbar-inverse">
		        <div class="container-fluid">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle">
		                    <span class="sr-only">Toggle navigation</span> 
		                    <span class="icon-bar"></span> 
		                    <span class="icon-bar"></span> 
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index">AusPrinting CM</a>
		            </div>
		            <div class="collapse navbar-collapse" id="myNavbar">
		                <ul class="nav navbar-nav">
		                    <li><a href="index.xhtml">Home</a></li>
		                    <li><a href="indexContactPerson.xhtml">Contact Person</a></li>
		                </ul>
		                <ul class="nav navbar-nav navbar-right">
		                	<li><a href="#">Hello #{request.remoteUser}</a></li>
		                	<!-- Log out -->
		                    <li>
		                        <h:commandLink value="Logout" action="#{userManager.logout()}"></h:commandLink>    
		                    </li>
		                </ul>
		            </div>
		            <!--/.nav-collapse -->
		        </div>
		    </div>
		</h:form>
		<!-- adding navigation bar -->
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>
			
            <h:form id="MyForm">
                <table class="table table-bordered table-striped table-hover">
                    <!-- For each customer in customers ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Email" value="Email"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Industry" value="Industry"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="PhoneNumber" value="PhoneNumber"/>
                            </td>
          
                            <td> 
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="ContactPerson" value="Contact Person"/>
                            </td>
                            
                            
                            <td></td>     
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status"> 
                        <!-- What does the outName do here -->
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outName').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerID" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).customerName}"  />
                            </td>
                            
                            <td>
                                <h:outputText id="outEmail" value="#{customerApplication.customers.get(status.index).email}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:outputText id="outIndustry" value="#{customerApplication.customers.get(status.index).industry.industryName}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:outputText id="outPhoneNumber" value="#{customerApplication.customers.get(status.index).customerPhoneNumber}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:outputText id="outContactPerson" value="#{customerApplication.customers.get(status.index).contactPerson.contactPersonName}"></h:outputText>
                            </td>
                            
                            <td>
                                <h:link value="View | " outcome="/faces/staff/detail.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="/faces/staff/edit.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                
                
                <div class="row">
					<div class="col-sm-4">
					<!-- Search Customer by customerId -->
						<h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
	                    <h:commandButton id="searchId" value="Search Name by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-default" >
	                        <f:param name="customerID" value="#{status.index + 1}"/>
	                        <f:ajax execute="@form" render="ajaxMessage1"/>
	                    </h:commandButton>
					</div>
					<div class="col-sm-4">
					<!-- Search Customer By contactPersonId -->
		                <h:selectOneMenu id="contact" value="#{searchCustomer.contactPersonId}" >
			                <f:selectItems value="#{customerManagedBean.allContactPeople}" var="c"  
			                               itemLabel="#{c.contactPersonName}" itemValue="#{c.contactPersonId}" />
		                </h:selectOneMenu>
		                <h:commandButton id="searchByContact" value="Search by Contact" action="#{searchCustomer.searchCustomerByContactPersonId(searchCustomer.contactPersonId)}" class="btn btn-default" >
		                	<f:param name="customerID" value="#{status.index + 1}"/>
		                	<f:ajax execute="@form" render="MyForm"/>
		                </h:commandButton>
					</div>
					<div class="col-sm-4">
					<!-- Search Customer By name -->
	                    <h:inputText value="#{searchCustomer.searchByName}" id="searchByName" required="false" p:placeholder="Name" /> 
                    	<h:commandButton id="searchName" value="Search by Name" action="#{searchCustomer.searchCustomerByName(searchCustomer.searchByName)}" class="btn btn-default" >
                        	<f:param name="customerID" value="#{status.index + 1}"/>
                        	<f:ajax execute="@form" render="MyForm"/>
                    	</h:commandButton>
					</div>
				</div>
				
                
                <div class="row">
				  	<div class="col-sm-4">
				  		<h:outputText value="#{customerManagedBean.searchCustomerById(searchCustomer.searchByInt).customerName}" id="ajaxMessage1"/>
				  	</div>
				  	<div class="col-sm-4">
					  	<h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAllCustomers()}" class="btn btn-default" >
		                	<f:param name="customerID" value="#{status.index + 1}"/>
		                </h:commandButton>
					</div>
				  	<div class="col-sm-4">
				  		<h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-default" />
                    </div>
				</div>

            </h:form>
        </div>
        <br/>
        <div>
        	<h:message styleClass="color:red; font-weight:bold" globalOnly="true"/>
        </div>
    </h:body>
</html>