table.dataTable tbody th.focus, table.dataTable tbody td.focus {
	box-shadow: inset 0 0 1px 2px #008CBA;
}

div.dtk-focus-alt table.dataTable tbody th.focus, div.dtk-focus-alt table.dataTable tbody td.focus
	{
	box-shadow: inset 0 0 1px 2px #ff8b33;
}